.fighter{
	-fx-border-color: blue ;
    -fx-border-width: 5 ; 
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;
}
.start{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}
.anchore{
	-fx-background-image: url("/images/index.jpg");
}